body {
    background-image: url("https://i0.wp.com/bestlifeonline.com/wp-content/uploads/media/images/ext/436736794/plane-over-city.jpg?resize=1019%2C750&ssl=1");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }

.jumbotron {
    text-align: center;
    margin: 30px;
    background-color: #889fb5;
    color: white;
    padding: 10px;
    border-style: solid;
    border-color: white;
    border-width: 5px;
    opacity: 0.8;
}

.display-4 {
    font-family: 'Cantarell', sans-serif;
    font-size: 100px;
    margin: 0px;
}

#earmark {
    border-style: solid;
    border-color: white;
    border-width: 5px;
    background-color: #889fb5;
    color: white;
    opacity: 0.8;
}

.search-container {
    border-style: solid;
    border-color: white;
    border-width: 5px;
    background-color: #889fb5;
    color: white;
    opacity: 0.8;
    margin-left: 40px;
    padding: 10px;
}

.test {
    border-style: solid;
    border-color: white;
    border-width: 5px;
    background-color: #889fb5;
    color: white;
    opacity: 0.8;
}

.card-body {
    color: black;
}

.column {
    float: center;
    background-color: #889FB5;
    color: white;
    margin: 30px;
    padding: 100px;
    text-align: left;
    border-style: solid;
    border-color: white;
    border-width: 5px;
    opacity: 0.8;
  }

  h3 {
      margin: 10px;
  }

.flight-info {
    color: black;
}